.label {
  position: absolute;
  &.label3 {
    width: calc(100% - 6rem);
    height: fit-content;
    top: 0px;
    text-align: center;
  }
  &.label1 {
    bottom: 5px;
    width: calc(100% - 6rem);
    text-align: center;
  }
  &.rival_label {
    margin: 0;
    top: 34%;
  }
  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.cards_wrapper {
  .card {
    position: absolute;
    margin-left: 42%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
  }
}
