@font-face {
  font-family: NotoNastaliqUrdu;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/NotoNastaliqUrdu-Regular.eot");
  src: url("../assets/fonts/NotoNastaliqUrdu-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/NotoNastaliqUrdu-Regular.woff2") format("woff2"),
    url("../assets/fonts/NotoNastaliqUrdu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: NotoNastaliqUrdu;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/NotoNastaliqUrdu-Bold.eot");
  src: url("../assets/fonts/NotoNastaliqUrdu-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/NotoNastaliqUrdu-Bold.woff2") format("woff2"),
    url("../assets/fonts/NotoNastaliqUrdu-Bold.ttf") format("truetype");
}
