@import "styles/fonts.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: NotoNastaliqUrdu;
  width: 100%;
  height: 100%;
  direction: rtl;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
